/* mobile device */
@media screen and (max-width:576px) {
    .nav-container,
    .nav-items-container,
    .download-area,
    .we-are-gamer{
        flex-direction: column;
    }

    .nav-items-container{
        margin: 2rem 0;
    }
    .banner,
    .play-gamer{
        flex-direction: column-reverse;
    }

    .banner-content,
    .banner-img,
    .download-content,
    .gamer-img,
    .gamer-content,
    .play-img,
    .play-content{
        width: 100%;
        padding: 1rem;
    }

    .video-box-container{
        grid-template-columns: repeat(1, 1fr);
        padding: 1rem;
    }
    .download-content,
    .gamer-content,
    .play-content{
        margin-right: 0rem;
        text-align: center;
    }
    
    .download-img {
        width: 85%;
        padding: 1rem;
    }
    .download-img .download-sub-img img {
        bottom: -2%;
        left: -7%;
        width: 27%;
        height: 37%;
    }

    .play-img > img{
        width: 90%;
    }
    .play-img .paly-img-sub img{
        width: 37%;
        height: 47%;
        bottom: -6%;
        right: 3%;
    }

}

/* tablet device */
@media screen and (min-width:577px) and (max-width:992px){
    .nav-container,
    .nav-items-container,
    .download-area,
    .download-area,
    .we-are-gamer{
        flex-direction: column;
    }
    .nav-items-container{
        margin: 2rem 0;
    }

    .banner,
    .play-gamer{
        flex-direction: column-reverse;
    }
    .banner-content,
    .banner-img,
    .download-content,
    .gamer-img,
    .gamer-content,
    .play-img,
    .play-content{
        width: 100%;
        padding: 1rem;
        text-align: center;
    }

    .video-box-container{
        grid-template-columns: repeat(2, 1fr);
        padding: 1rem;
    }
    .download-content{
        margin-right: 0;
        margin-bottom: 1.25rem;
        text-align: center;
    }

    .play-img > img{
        width: 75%;
    }
    .play-img .paly-img-sub img{
        width: 25%;
        height: 35%;
        bottom: -7%;
        right: 2%;
    }
}




/* 







*/